<template name="gameListItem">
    <li>
        <div class="well">
            <h4 class="game-list-title">{{title}}</h4>
            {{#if owned}}
                <button class="delete-button btn-sm btn-danger">&times;</button>
            {{/if}}
            <p>Number of Players: {{players.length}}</p>
            <p>Created By: {{ownerName}}</p>
            {{#if available}}
                {{#if notInGame}}
                    <button class="join-button btn-md btn-primary">Join Game</button>
                {{else}}
                    <p class="in-game-message">You are currently in this game</p>
                {{/if}}
            {{else}}
                <p class="full-server-message">This room is full or in use</p>
            {{/if}}
        </div>
    </li>
</template>