<template name="game">
    <div class="current-players" data-spy="affix" data-offset-top="200">
        <h3 class="players-list-title">Players</h3>
        <ul>
            {{#each players}}
                <li>{{name}} {{#if owned}}<button class="leave-game-button">Leave Game</button>{{/if}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <h2 class="game-title">{{title}}</h2>
            <div id="game">
                {{game}}
            </div>
        </div>
    </div>
</template>